<#include "/shared/layout.html">
<@head title="${title}">

</@head>
<@body>
<div class="page-header subnav">
    首页 > ${competitionName}
</div>

<div class="row">
    <div class="col-lg-8">
        <h3>球队</h3>
        <div>
            <#list teamList as team><br>
                <li>${team.name} - ${team.fullName} <br>
            </#list>
        </div>
        <h3>最新赛果</h3>
        <table class="table">
            <thead>
            <tr>
                <th>时间</th>
                <th>主队</th>
                <th>比分</th>
                <th>客队</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>1-1</td>
                <td>曼联</td>
            </tr>
            </tbody>
        </table>
        <h3>最近比赛</h3>
        <table class="table">
            <thead>
            <tr>
                <th>时间</th>
                <th>主队</th>
                <th></th>
                <th>客队</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            <tr>
                <td>2016-04-18 22:30</td>
                <td>切尔西</td>
                <td>-</td>
                <td>曼联</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h3>积分榜</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>排名</th>
                <th>球队</th>
                <th>场次</th>
                <th>积分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
        <h3>射手榜</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>排名</th>
                <th>球员</th>
                <th>球队</th>
                <th>进球数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>凯恩</td>
                <td>热刺</td>
                <td>24</td>
            </tr>
            <tr>
                <td>2</td>
                <td>瓦尔迪</td>
                <td>莱斯特</td>
                <td>22</td>
            </tr>
            <tr>
                <td>3</td>
                <td>伊格哈罗</td>
                <td>沃特福德</td>
                <td>15</td>
            </tr>
            <tr>
                <td>4</td>
                <td>迭戈-科斯塔</td>
                <td>切尔西</td>
                <td>11</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</@body>