<#include "/shared/layout.html">
<@head title="${title}">

</@head>
<@body>
<div class="page-header subnav">
    首页 > ${competitionName}
</div>

<div class="row">
    <div id="team-list" class="col-md-12">
        <#list teamList as team>
        <a href="/team/${team.teamNo}">
            <#if team.picName?length != 0>
            <img title="${team.fullName}" src="${picUrl}${team.picNo[0..5]}/${team.picName}" height="50" width="50">
            </#if>
            <div title="${team.fullName}"><span><nobr>${team.fullName}</nobr></span></div>
        </a>
        </#list>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div>
            <div class="col-md-12 section-header margin15"><h4>最新赛果</h4></div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>时间</th>
                <th>主队</th>
                <th>比分</th>
                <th>客队</th>
            </tr>
            </thead>
            <tbody>
            <#list overLeagueList as league>
                <tr>
                    <td>${league.bjTime}</td>
                    <td><a href="/team/${league.homeTeamNo}">${league.homeTeamName}</a></td>
                    <td>${league.fullScore}</td>
                    <td><a href="/team/${league.guestTeamNo}">${league.guestTeamName}</a></td>
                </tr>
            </#list>
            </tbody>
        </table>
        <div>
            <div class="col-md-12 section-header"><h4>最近比赛</h4></div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>时间</th>
                <th>主队</th>
                <th>客队</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <#list futureLeagueList as league>
                <tr>
                    <td>${league.bjTime}（周六）</td>
                    <td><a href="/team/${league.homeTeamNo}">${league.homeTeamName}</a></td>
                    <td><a href="/team/${league.guestTeamNo}">${league.guestTeamName}</a></td>
                    <td>最近交锋</td>
                </tr>
            </#list>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div>
            <div class="col-md-12 section-header margin15"><h4>积分榜</h4></div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>排名</th>
                <th>球队</th>
                <th>场次</th>
                <th>积分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="col-md-12 section-header"><h4>射手榜</h4></div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>排名</th>
                <th>球员</th>
                <th>球队</th>
                <th>进球数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>凯恩</td>
                <td>热刺</td>
                <td>24</td>
            </tr>
            <tr>
                <td>2</td>
                <td>瓦尔迪</td>
                <td>莱斯特</td>
                <td>22</td>
            </tr>
            <tr>
                <td>3</td>
                <td>伊格哈罗</td>
                <td>沃特福德</td>
                <td>15</td>
            </tr>
            <tr>
                <td>4</td>
                <td>迭戈-科斯塔</td>
                <td>切尔西</td>
                <td>11</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</@body>