# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.settings/
/footballtime-api/logs/
/footballtime-api/target/
/footballtime-dto/target/
/footballtime-web/target/
/footballtime-web/logs/
/footballtime-dto/.settings/
/footballtime-web/.settings/
/footballtime-utils/target/
/*.iml/
/footballtime-web/footballtime-web.iml
/footballtime-utils/footballtime-utils.iml
/footballtime-dto/footballtime-dto.iml
/footballtime-api/footballtime-api.iml
/footballtime.iml
