<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.footballtime.api.dao.DemoRepository">
    <select id="insertFootballTest" parameterType="String">
        INSERT INTO test(Name) VALUES (#{name});
    </select>
    <select id="insertMydataTest1" parameterType="String">
        INSERT INTO test1(Name) VALUES (#{name});
    </select>
    <select id="insertMydataTest2" parameterType="String">
        INSERT INTO test2(Name) VALUES (#{name});
    </select>
</mapper>