<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.footballtime.api.dao.ManagerRepository">
    <sql id="Base_Column_List">
        UserName, Password, SaltFigure
    </sql>
    <select id="getManager" parameterType="String" resultType="cn.footballtime.api.model.Manager">
        select
        <include refid="Base_Column_List" />
        from Manager where UserName = #{userName}
    </select>
</mapper>