<#include "/shared/layout_manage.html">
<@head>

</@head>
<@body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">球队</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="team?competitionId=2">英超</a></h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="team?competitionId=4">西甲</a></h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="team?competitionId=3">意甲</a></h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="team?competitionId=1">德甲</a></h4>
        </div>
    </div>

    <h2 class="sub-header">${competitionName}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>TeamNo</th>
                <th>简称</th>
                <th>全称</th>
                <th>是否是俱乐部</th>
                <th>logo图</th>
            </tr>
            </thead>
            <tbody>
            <#list teamList as team>
                <tr>
                    <td>${team.teamNo}</td>
                    <td>${team.name}</td>
                    <td>${team.fullName}</td>
                    <td>${team.isClub ? string ("true", "false")}</td>
                    <td>
                    <#if team.picName?length == 0>
                        <a href="uploadTeamLogo?competitionId=${competitionId}&teamNo=${team.teamNo}">上传</a>
                    <#else>
                        <a href="uploadTeamLogo?competitionId=${competitionId}&teamNo=${team.teamNo}"><img src="${picUrl}${team.picNo[0..5]}/${team.picName}" height="50px" /></a>
                    </#if>
                    </td>
                </tr>
            </#list>
            </tbody>
        </table>
    </div>
</div>
</@body>